@using System.Text.Json
@{
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agapea_netcore_mvc_23_24</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Agapea_netcore_mvc_23_24.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3">
                    <div class="btn-group btn-sm">
                        <a href="#" class="btn btn-dark">Contacto</a>
                        <! -- boton de login siempre y cuando no exista estado de sesion
                              si existe de sesion entonces boton con el mail para acceder al panel del cliente
                        -->
                        @if (Context.Session.GetString("datoscliente") != null)
                         {
                            Cliente clientelogged = JsonSerializer.Deserialize<Cliente>(Context.Session.GetString("datoscliente"));
                            <a asp-controller="cliente" asp-action="MiPanel" class="btn btn-dark btn-sm">@clientelogged.Credenciales.Email</a>
                        }
                        else
                        {
                            <a asp-controller="Cliente" asp-action="Login" class="btn btn-dark btn-sm">Login</a>
                        }
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Agapea_netcore_mvc_23_24 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
